{
    "title_format": "🎥 Review - {year}-cw{cw:02d}{n}",
    "reviews": {
        "ehc": {
            "search_tag": "",
            "area_ids": ["D7xNNhW1XmB56ofhgnmsyb"],
            "save_area": "ReviewAreaID"
        },
        "clientWork": {
            "search_tag": "",
            "area_ids": ["HWZHRS6DFbabV14K1Y6gt8"],
            "save_area": "ReviewAreaID"
        },
        "mixed": {
            "search_tag": "",
            "area_ids": ["D7xNNhW1XmB56ofhgnmsyb", "HWZHRS6DFbabV14K1Y6gt8"],
            "save_area": "ReviewAreaID"
        }
    },
    "gtd_review": {
        "waiting_for_tag": "waiting for",
        "someday_tag": "someday",
        "review_frequency_days": 7
    }
}