{
    "reviews": {
        "work": {
            "search_tag": "🛠 Work",
            "save_area": "YourWorkAreaID",
            "title_format": "🎥 Review - {year}-cw{cw:02d}"
        },
        "private": {
            "search_tag": "💪 Private",
            "save_area": "YourPrivateAreaID",
            "title_format": "Review - KW{year}-{cw}"
        }
    }
}
