{
    "areas": {
        "work": {
            "tag": "🛠 Work",
            "area_id": "YourWorkAreaID"
        },
        "private": {
            "tag": "💪 Private",
            "area_id": "YourPrivateAreaID"
        }
    }
}
