{
    "title_format": "🎥 Review - {year}-cw{cw:02d}{n}",
    "reviews": {
        "work": {
            "search_tag": "🛠 Work",
            "save_area": "YourWorkAreaID"
        },
        "personal": {
            "search_tag": "💪 Personal", 
            "save_area": "YourPersonalAreaID"
        },
        "clients": {
            "area_ids": ["ClientArea1ID", "ClientArea2ID"],
            "save_area": "ClientReviewAreaID"
        }
    },
    "gtd_review": {
        "waiting_for_tag": "waiting for",
        "someday_tag": "someday",
        "review_frequency_days": 7
    }
}